{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">

    <header>
        <div class="logo">
            <img src="{{ asset('images/Logo.png') }}" alt="Logo">
            <p>Don't compromise on your look</p>
        </div>
            
        <nav>
            <a href="/">Accueil</a>
            <a href="/register">S'inscrire</a>
            <a href="/login" class="select">Se connecter</a>
        </nav>
    </header>

    <main>
        <div class="login">
            <div class="connexion">
                <p>Se connecter</p>
            </div>
            
            <div class="loginForm">
                <form method="post" action="{{ path('login') }}">
                    {% if error %}
                        <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="field">
                        <label for="username">Nom utilisateur :</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required>
                    </div>

                    <div class="field">
                        <label for="password">Mot de passe :</label>
                        <input type="password" id="password" name="_password" required>
                    </div>

                    <button type="submit">Se connecter</button>
                </form>

                <a href="/">Mot de passe oublié</a>
            </div>

            <div class="bottomForm">
                <p>Pas encore inscrit ?</p>
                <a href="/register">Créer un compte</a>
            </div>
        </div>
    </main>

    <footer>
        <p><strong>Stubborn</strong> est une entreprise de vente de sweat-shirts.</p>
        <p>Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
        <a href="mailto:stubborn@blabla.com">stubborn@blabla.com</a>
    </footer>
{% endblock %}