{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/home.css') }}">

    <header>
        <div class="logo">
            <img src="{{ asset('images/Logo.png') }}" alt="Logo">
            <p>Don't compromise on your look</p>
        </div>

        <nav>
            <a href="/" class="select">Accueil</a>
            {% if app.user %}
                <a href="/products">Boutique</a>
                <a href="/cart">Panier</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="/admin">Back-office</a>
                {% endif %}
                <a href="/logout" class="logout">Se déconnecter</a>
                
            {% else %}
                <a href="/register">S'inscrire</a>
                <a href="/login">Se connecter</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% for product in products %}
            <div class="products">
                <img src="{{ asset('imagesProduits/' ~ product.image) }}" alt="{{ product.name }}">
                <div class="infos">
                    <div>
                        <h2>{{ product.name }}</h2>
                        <p>Prix : {{ product.price }} €</p>
                    </div>

                    <div>
                        {% if app.user %}
                            <a href="{{ path('product_show', {'id': product.id}) }}" class="viewProduct">VOIR</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>

    <footer>
        <p><strong>Stubborn</strong> est une entreprise de vente de sweat-shirts.</p>
        <p>Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
        <a href="mailto:stubborn@blabla.com">stubborn@blabla.com</a>
    </footer>
{% endblock %}
