{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">

    <header>
        <div class="logo">
            <img src="{{ asset('images/Logo.png') }}" alt="Logo">
            <p>Don't compromise on your look</p>
        </div>
        
        <nav>
            <a href="/">Accueil</a>
            <a href="/register" class="select">S'inscrire</a>
            <a href="/login">Se connecter</a>
        </nav>
    </header>

    <main>
        <div class="login">
            <div class="connexion">
                <p>S'inscrire</p>
            </div>

            <div class="registerForm">
                <form method="post" action="{{ path('app_register') }}">
                    {{ form_start(registrationForm) }}
                    <div class="field">
                        <label for="registration_form_name">Nom utilisateur :</label>
                        {{ form_widget(registrationForm.name) }}
                    </div>

                    <div class="field">
                        <label for="registration_form_email">Adresse mail :</label>
                        {{ form_widget(registrationForm.email) }}
                    </div>

                    <div class="deliveryField">
                        <label for="registration_form_deliveryAddress">Adresse de livraison :</label>
                        {{ form_widget(registrationForm.deliveryAddress) }}
                    </div>

                    <div class="field">
                        <label for="registration_form_plainPassword">Mot de passe :</label>
                        {{ form_widget(registrationForm.plainPassword.first) }}
                    </div>

                    <div class="field">
                        <label for="registration_form_plainPassword_confirmation">Confirmation de mot de passe :</label>
                        {{ form_widget(registrationForm.plainPassword.second) }}
                    </div>

                    <button type="submit">Créer un compte</button>

                    {{ form_end(registrationForm) }}
                    
                </form>
            </div>

            <div class="registerBottom">
                <p>Déjà inscrit ?</p>
                <a href="/login">Se connecter</a>
            </div>
        </div>
    </main>

    <footer>
        <p><strong>Stubborn</strong> est une entreprise de vente de sweat-shirts.</p>
        <p>Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
        <a href="mailto:stubborn@blabla.com">stubborn@blabla.com</a>
    </footer>

</div>
{% endblock %}
