{% extends 'base.html.twig' %}

{% block title %}Back-Office{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">

    <header>
        <div class="logo">
            <img src="{{ asset('images/Logo.png') }}" alt="Logo">
            <p>Don't compromise on your look</p>
        </div>

        <div class="title">
            <h1>Back-Office</h1>
        </div>

        <nav>
            <a href="/products">Boutique</a></li>
            <a href="/logout">Se déconnecter</a></li> 
        </nav>
    </header>

    <main>
        <div>
            <form  method="post" enctype="multipart/form-data" class="formAdd" class="formAdd">
                {{ form_start(form) }}

                    <div class="fieldImage">
                        <label>Choisir une image</label>
                        {{ form_widget(form.image) }}
                    </div>

                    <div class="fields">
                            <div class="fieldsTop">
                                <div class="field">
                                    <label>Nom</label>
                                    {{ form_widget(form.name) }}
                                </div>

                                <div class="field">
                                    <label>Prix</label>
                                    {{ form_widget(form.price) }}
                                </div>

                                <div class="field">
                                    <label for="stock_XS">Stock XS</label>
                                    <input type="number" name="stocks[0]" id="stock_XS" value="0">
                                </div>
                                <div class="field">
                                    <label for="stock_S">Stock S</label>
                                    <input type="number" name="stocks[1]" id="stock_S" value="0">
                                </div>
                                <div class="field">
                                    <label for="stock_M">Stock M</label>
                                    <input type="number" name="stocks[2]" id="stock_M" value="0">
                                </div>
                                <div class="field">
                                    <label for="stock_L">Stock L</label>
                                    <input type="number" name="stocks[3]" id="stock_L" value="0">
                                </div>
                                <div class="field">
                                    <label for="stock_XL">Stock XL</label>
                                    <input type="number" name="stocks[4]" id="stock_XL" value="0">
                                </div>
                            </div>
                    

                        <div class="fieldsBottom">
                            <div class="fieldHighlight">
                                <label>Mettre en avant</label>
                                {{ form_widget(form.highlight) }}
                            </div>                    

                            <button type="submit">Ajouter</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </form>
        </div>


        <div>
            {% for product in products %}
                <form method="post" action="{{ path('admin_delete', {id: product.id}) }}" enctype="multipart/form-data" class="formUpdate">
                    <img src="{{ asset('imagesProduits/' ~ product.image) }}" alt="{{ product.name }}">
                    
                    <div class="fields">
                        <div class="fieldsTop">
                            <div class="field">
                                <label>Nom</label>
                                <input type="text" name="name" value="{{ product.name }}" />
                            </div>

                            <div class="field">
                                <label>Prix</label>
                                <input type="number" name="price" value="{{ product.price }}" />
                            </div>
                                
                            {% for stock in product.stocks %}
                                <div class="field">
                                    <label>Stock {{ stock.size }}</label>
                                    <input type="number" name="stock_{{ stock.size }}" value="{{ stock.quantity }}" />
                                </div>
                            {% endfor %}
                        </div>

                        <div class="fieldsBottom">

                            <div class="fieldImage">
                                <label>Image</label>
                                <input type="file" name="image" />
                            </div>

                            <div class="fieldHighlight">
                                <label>Mettre en avant</label>
                                <input type="checkbox" name="highlight" {% if product.highlight %}checked{% endif %}>
                            </div>
                                    
                        
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                            <button type="submit">Supprimer</button>

                            <button type="submit" formaction="{{ path('admin_update', {id: product.id}) }}">Modifier</button>
                        </div>
                    </div>
                </form>
            {% endfor %}
        </div>
    </main>

    <footer>
        <p><strong>Stubborn</strong> est une entreprise de vente de sweat-shirts.</p>
        <p>Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
        <a href="mailto:stubborn@blabla.com">stubborn@blabla.com</a>
    </footer>
{% endblock %}
