{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/product.css') }}">

    <header>
        <div class="logo">
            <img src="{{ asset('images/Logo.png') }}" alt="Logo">
            <p>Don't compromise on your look</p>
        </div>
            
        <nav>
            <a href="/">Accueil</a>
            <a href="/products">Boutique</a>
            <a href="/cart">Panier</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="/admin">Back-office</a>
            {% endif %}
            <a href="/logout" class="logout">Se déconnecter</a>
        </nav>
    </header>

    <main>
        <div class="product">
            <img src="{{ asset('imagesProduits/' ~ product.image) }}" alt="{{ product.name }}">

            <form method="post" action="{{ path('cart_add', { id: product.id }) }}">
                <div class="display">
                    <div class="name">
                        <h1>{{ product.name }}</h1>

                        <p>Prix : {{ product.price|number_format(2, ',', ' ') }} €</p>
                    </div>

                    <div class="size">
                        <label for="size">Taille</label>
                        <select id="size" name="size" required>
                            {% for stock in stocks %}
                                <option value="{{ stock.size }}" {% if stock.quantity == 0 %}disabled{% endif %}>
                                    {{ stock.size }} {% if stock.quantity == 0 %}(Indisponible){% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <button type="submit">AJOUTER AU PANIER</button>
            </form>
                
        </div>
    </main>

    <footer>
        <p><strong>Stubborn</strong> est une entreprise de vente de sweat-shirts.</p>
        <p>Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
        <a href="mailto:stubborn@blabla.com">stubborn@blabla.com</a>
    </footer>
{% endblock %}
